:root{
    --blok-color:'white'
}
.main{
    display: flex;
}

.left{
    width: 250px;
}
.left p{
    cursor: pointer;
}

.right .tetris{
    display: flex;
    position: relative;
}

.right .tetris td{
    color:rgba(0, 0, 0, 0);
}

.right .tetris .new-blok{
    position: absolute;
    z-index: 9999;
}

.right .tetris .old-bloktd{
    position: absolute;
}

.right .tetris table{
    width: 475px;
    height: 775px;
    border-collapse: collapse;
    border-spacing: 0;
}
.right .tetris table tr td{
    text-align: center;
    border: 1px solid #eeeeee;
    color: rgba(0, 0, 0, 1);
}
.right .tetris .blok-color{
    background-color: var(--blok-color);
}

.right .sdoku{
    display: flex;
    color: #eeeeee;
}
.right .sdoku table{
    border-spacing: 0px;
    border-collapse: separate;
    margin-right: 20px;
}
.right .sdoku table tr td{
    border: 1px solid #777722;
    width: 55px;
    height: 55px;
    font-size: 30px;
    text-align: center;
}
.right .sdoku table tr:nth-child(1) td{
    border-top: 2px solid #eeeeee;
}
.right .sdoku table tr td:nth-child(10n+1){
    border-left: 2px solid #eeeeee;
}
.right .sdoku table tr:nth-child(3) td{
    border-bottom: 2px solid #eeeeee;
}
.right .sdoku table tr:nth-child(6) td{
    border-bottom: 2px solid #eeeeee;
}
.right .sdoku table tr:nth-child(9) td{
    border-bottom: 2px solid #eeeeee;
}
.right .sdoku table tr td:nth-child(3n){
    border-right: 2px solid #eeeeee;
}
.right .sdoku .sdoku-btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.right .sdoku .sdoku-btn span{
    font-weight: bold;
    cursor: pointer;
    text-align: center;

}
.right .sdoku input{
    width: 137px;
    height: 25px;
    text-align: center;
}
.right .sdoku input::-webkit-outer-spin-button,
.right .sdoku input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.right .sdoku .write_area{
    width: 51px;
    height: 53px;
    font-size: 30px;
    border: none;
    background-color: #121213;
    color: #eeeeee;
}

.right .Baduk{
}

.right .concave{
}

.right .Seotda{
}