<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/game/game.css}">
</head>
<body>
<th:block th:replace="~{header :: header}"></th:block>
<div class="main">
    <div class="left">
        <p>테트리스</p>
        <p>스도쿠</p>
        <p>바둑</p>
        <p>오목</p>
        <p>섯다</p>
    </div>
    <div class="right">
        <div class="tetris" style="display: none;">
            <div class="tetris_blocks">
                <table class="new-blok"><tbody></tbody></table>
                <table class="old-blok"><tbody></tbody></table>
            </div>
            <div class="tetris-conf">
                <p class="tetris_start">START</p>
                <span>라인제거 수 : </span><span class="line-cnt">0</span>
            </div>
        </div>
        <div class="sdoku" style="display: none;">
            <table>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            </table>
            <div>
                <input type="number" placeholder="숫자 10 ~ 70" class="sdoku-empty-number">
                <div class="sdoku-btn">
                    <span class="sdoku-start">START</span><span class="sdoku-reset">RESET</span>
                </div>
            </div>
        </div>
        <div class="baduk">
            <table></table>
        </div>
        <div class="concave" style="display: none;">
            <table></table>
        </div>
        <div class="seotda"></div>
    </div>
</div>
</body>
<script src="game/tetris.js"></script>
<script src="game/sdoku.js"></script>
<script src="game/baduk.js"></script>
<script src="game/concave.js"></script>
</html>



