<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/game/game.css}">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script th:inline="javascript">
        let page_click = 'tetris'
        let roomIds = {
            [[${tetris.roomId}]]:[[${tetris.roomId}]],
            [[${sdoku.roomId}]]:[[${sdoku.roomId}]],
            [[${concave.roomId}]]:[[${concave.roomId}]],
            [[${seotda.roomId}]]:[[${seotda.roomId}]],
        }
        let nickname = [[${nickname}]]
    </script>
</head>
<body>
<th:block th:replace="~{header :: header}"></th:block>
<div class="main">
    <div class="left">
        <p>테트리스</p>
        <p>스도쿠</p>
        <p>바둑</p>
        <p>오목</p>
        <p>섯다</p>
    </div>
    <div class="right">
        <div class="tetris" >
            <div class="tetris_blocks">
                <table class="new-blok"><tbody></tbody></table>
                <table class="old-blok"><tbody></tbody></table>
            </div>
            <div class="tetris-conf">
                <p class="tetris_start">START</p>
                <span>라인제거 수 : </span><span class="line-cnt">0</span>
            </div>
        </div>
        <div class="sdoku" style="display: none;">
            <table>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            </table>
            <div>
                <input type="number" placeholder="숫자 10 ~ 70" class="sdoku-empty-number">
                <div class="sdoku-btn">
                    <span class="sdoku-start">START</span><span class="sdoku-reset">RESET</span>
                </div>
            </div>
        </div>
        <div class="baduk" style="display: none;">
            <table></table>
            <div class="baduk_die">
                <p><img src="/game/baduk_black.png"><span>죽은돌 : </span><span class="baduk_die_black">0</span></p>
                <p><img src="/game/baduk_white.png"><span>죽은돌 : </span><span class="baduk_die_white">0</span></p>
            </div>
        </div>
        <div class="concave" style="display: none;">
            <table></table>
        </div>
        <div class="seotda" style="display: none;"></div>
    </div>
</div>
</body>
<script src="game/tetris.js"></script>
<script src="game/sdoku.js"></script>
<script src="game/baduk.js"></script>
<script src="game/concave.js"></script>
<script th:inline="javascript">

let socket = new SockJS("/ws/chat");

function enterRoom(socket){
    let enterMsg={"type" : "ENTER","roomId":roomIds[page_click],"sender":nickname,"message":""}; //sender는  글쓸때 수정하자.
    socket.send(JSON.stringify(enterMsg));
}
socket.onopen = function (e) {
    console.log('open server!')
    enterRoom(socket);
};
socket.onclose=function(e){
    console.log('disconnet');
}
socket.onerror = function (e){
    console.log(e);
}

//메세지 수신했을 때 이벤트.
socket.onmessage = function (e) {
    let data = JSON.parse(e.data)
    let new_array_background = []
    if(page_click === data['roomId']) {
        let d = data['message'].replaceAll('"','').replaceAll("[","").replaceAll("]","").split("/")

        for(let i=d.length-2;i<array_background.length-2;i++){
            new_array_background.push(array_background[i])
        }
        for(let i=0;i<d.length-1;i++){
            dd = []
            for(let z=0;z<d[i].split(",").length;z++){
                dd.push({"data":d[i].split(",")[z],"color":"#9e9e9e"})
            }
            new_array_background.push(dd)
        }
        new_array_background.push(array_background[array_background.length-1])
        console.log(new_array_background)
        array_background = new_array_background
        background_ui()
    }
}

//메세지 보내기 버튼 눌렀을 떄..
function sendMsg() {
    let talkMsg={"type" : "TALK","roomId":page_click ,"sender":nickname,"message":content};
    socket.send(JSON.stringify(talkMsg));
}
function quit(){
    let quitMsg={"type" : "QUIT","roomId":roomIds[page_click] ,"sender":nickname,"message":""};
    socket.send(JSON.stringify(quitMsg));
    socket.close();
}

</script>

</html>



